@import '@app/theme/theme.scss';

.wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap: 128px;

	@include lg {
		row-gap: 64px;
	}
}

.rectangle {
	width: 103px;
	height: 116px;
	background-color: $yellow;
	position: absolute;
	top: 114px;
	left: -57px;
	z-index: 1;

	border-radius: 50% 0px 0px 0px;

	@include lg {
		left: auto;
		top: -57px;
		right: 50px;
	}
}
.circle {
	position: absolute;
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background-color: $purple;
	left: 107px;
	bottom: -37px;
	z-index: 1;

	@include lg {
		left: auto;
		right: 80px;
	}
}
