@import '@app/theme/theme.scss';

.wrapper {
	grid-area: contactform;
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
}

.input {
	width: 100%;
	color: $black;
}

.textarea {
	width: 100%;
	min-height: 144px;
}

.success {
	color: $green;
	text-align: center;
}
.error {
	color: $red;
	text-align: center;
}
