@import '../../theme/theme.scss';

.wrapper {
	position: relative;
	padding: 0px 0px 128px 0px;
	display: grid;
	grid-template-columns: minmax(0px, 80px) auto minmax(0px, 80px);
	grid-template-rows: auto 64px auto 64px auto 128px auto;
	grid-template-areas: 'featured featured featured' '. . .' '. postlist .' '. . .' '. categories .' '. . .' '. join .';

	@include md {
		grid-template-columns: 10px auto 10px;
	}
}

.wrapper > section:nth-child(1) {
	grid-area: featured;
}

.wrapper > section:nth-child(2) {
	grid-area: postlist;
}

.wrapper > section:nth-child(3) {
	grid-area: categories;
}

.wrapper > section:nth-child(4) {
	grid-area: join;
}
