@import '@app/theme/theme.scss';

.wrapper {
	display: grid;
	grid-template-columns: minmax(0px, 433px) auto minmax(0px, 433px);
	grid-template-areas: '. title .' '. text .' '. button .';
	justify-items: center;

	text-align: center;
}

.title {
	grid-area: title;
}

.text {
	margin-top: 16px;
	color: $medium-gray;
	grid-area: text;
}
.link {
	margin-top: 32px;
	grid-area: button;
}
