@import '../../../../app/theme/theme.scss';

.navbar {
	background-color: $black;
	display: grid;
	grid-template-columns: auto auto;

	@include lx {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		justify-items: center;
		gap: 16px;

		& nav {
			justify-self: center;
		}
	}

	@include md {
		padding: 20px;
	}
}

.title {
	white-space: nowrap;
	color: $white;
	@include font-weight($font-weight-bold);
	font-size: 24px;
	line-height: 48px;
}
