$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$medium-gray: #6d6e76;
$light-gray: #f4f4f4;
$lavender: #f4f0f8;
$light-yellow: #fbf6ea;
$yellow-hover: #EDC14A;

$font-family-sen: 'Sen';
$font-family-inter: 'Inter';
