@import '../theme/variables';

@mixin font-family-sen {
	font-family: $font-family-sen;
}

@mixin font-family-inter {
	font-family: $font-family-inter;
}

@mixin font-weight-bold {
	font-weight: $font-weight-bold;
}

@mixin font-weight-normal {
	font-weight: $font-weight-normal;
}

@mixin link {
	color: $white;
	font-size: 16px;
	line-height: 28px;

	transition: all 0.2s ease;

	&:hover {
		color: $yellow-hover;
	}
}
