@import '@app/theme/theme.scss';

.tag {
	cursor: pointer;

	display: inline-block;
	text-align: center;
	font-weight: 700;

	transition: 0.2s ease;

	&:hover {
		color: $yellow-hover;
	}

	& p {
		grid-area: label;
	}
}

.medium {
	border-radius: 28px;
	padding: 8px;
	font-size: 14px;
	line-height: 32px;

	.label {
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr;
		grid-template-areas: '. label .';
		& span {
			grid-area: label;
		}
	}

	border: 2px solid $medium-gray;
	&:hover {
		border: 2px solid $yellow-hover;
	}
}

.small {
	border-radius: 6px;
	padding: 4px;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;

	border: 1px solid $medium-gray;
	&:hover {
		border: 1px solid $yellow-hover;
	}
}

.disabled {
	pointer-events: none;
	color: $black;
}

.active {
	border: 2px solid $yellow;
	color: $yellow;

	&:hover {
		border: 2px solid $yellow;
		color: $yellow;
	}
}
